
.datetime-component {
  .bootstrap-datetimepicker-widget table {
    font-size: 13px
  }

  input {
    background-color: #fff !important;

    @include border-top-left-radius(4px !important);
    @include border-bottom-left-radius(4px !important);
  }

  .input-group-addon > span {
    color: $input-group-addon-color;
    font-size: $input-group-addon-font-size;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 20em;
}
