
.empty-table {
  margin: 1em;

  .text-center {
    font-weight: bold;
    padding: 1em;
  }
}

.table-component {

  &.table-clickable {
    table {
      tr {
        cursor: pointer;
      }
    }
  }

  table {
    @media print {
      font-size: 0.8em !important;

      tr {
        th {
          display: none;
        }
        td {
          padding: 3px;
        }
      }
    }
  }
}
