.panel-component {

  .panel-heading {
    @media print {
      font-size: 0.8em !important;
      height: 35px;
      line-height: 35px;
    }
  }

  .panel-menu {
    @media print {
      display: none;
    }

    .input-group {
      .form-control {
        text-transform: uppercase;
      }
    }
  }
}
